@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-roboto-mono), monospace;

  --color-background: #050505;
  --color-foreground: #fafafa;

  --color-primary: #10b981;
  --color-primary-foreground: #ffffff;

  --color-secondary: #27272a;
  --color-secondary-foreground: #e4e4e7;

  --color-muted: #18181b;
  --color-muted-foreground: #a1a1aa;

  --color-accent: #0d9488;
  --color-accent-foreground: #ffffff;

  --color-border: #27272a;

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

/* Custom Utilities */
@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Base Styles */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}